footer{
    background-color: #FFFFFF;
    text-align: center;
    /* color: #1BC5BD; */
   
    
}
.cardfooter{

   margin-bottom: -100px;
   
}

.footer-section{
    border-top: 0.01px solid #00000023;
    color: #666666;
    margin-left: 5px;
}

.footer-text{
    text-align: center;
}