.icon-notification{
    margin-left: 15px;
}

.profil-section{
    cursor: pointer;
}

.profil-details{
    margin-left: 15px;
}

li{
    list-style: none;
}

/* .fa-bell{
    color: red;
} */

/* .logo{
    width: 17em;
    height: 7em;
    padding-bottom: 20px;
}

.src-logo{
    height: 100%;
    width: 100%;
} */

/* ftco-section */
.navbar{
    border-bottom: 0.01px solid rgba(0, 0, 255, 0.212);
    background-color: red;
}

