.icon-notification{
    margin-left: 15px;
}

.profil-section{
    cursor: pointer;
}

.profil-details{
    margin-left: 15px;
}

li{
    list-style: none;
}

.panel-link{
    cursor: pointer;
}

.panel-link :hover{
    color: #3EB1BA;
}

/* ftco-section */
.navbar{
    border-bottom: 0.01px solid #00000023;
    padding-top: 0px;
}



