.menu-item {
    float: left;
    display: block;
    text-align: center;
  }
  
  .menu-item .menu-title {
    display: block;
    /* margin-top: 5px; */
  }

  .menu-title{
      font-size: 10px;
  }



/* .icon-notification{
    margin-left: 15px;
}

.profil-section{
    cursor: pointer;
}

.profil-details{
    margin-left: 15px;
}

li{
    list-style: none;
}

.panel-link{
    cursor: pointer;
}

.panel-link :hover{
    color: #3EB1BA;
} */

/* ftco-section */
/* .navbar{
    border-bottom: 0.01px solid #00000023;
    padding-top: 0px;
}

.logo-img{
    display: inline-block;
    padding-left: 20px;
}

.text-logo{
    display: inline-block;
    margin-left: -20px;
}


.src-logo{
    width: 10%;
    height: 10%;
    margin-top: -3em;
} */

/* @media only screen and (min-width: 769px) { */
    /* .logo{
        height: 2em;
    } */
/* } */



