<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="index.html">
            <img src="../../../assets/images/logos/img2.png" height="50" class="logo-light-mode" alt="">
            <!-- <img src="../../../assets/images/logos/smm_logo.png" height="30" class="logo-light-mode" alt=""> -->
            <img  src="../../../assets/images/logos/img2.png" height="24" class="logo-dark-mode" alt="">
        </a>
        <div class="buy-button">
            <a routerLink="/publier"  class="btn btn-pills btn-outline-primary px-5">Publier</a>
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                <li>
                    <a routerLink="/publications"  class="sub-menu-item text menu-item">
                        <i class="fa fa-home" style="font-size: 19px;"></i>
                        <span class="menu-title">Accueil</span>
                    </a>
                </li>
                <li class="has-submenu parent-parent-menu-item">
                    <a routerLink="/help" class="sub-menu-item text menu-item">
                        <i class="fa fa-question" style="font-size: 19px;"></i>
                        <span class="menu-title">Aide</span>
                    </a>
                </li>

                <li class="has-submenu parent-parent-menu-item">
                    <a href="index.html" class="sub-menu-item text menu-item">
                        <i class="fa fa-bell" style="font-size: 19px;"></i>
                        <span class="menu-title">Notification</span>
                    </a>
                    <!-- <ul class="submenu">
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Company </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-aboutus.html" class="sub-menu-item"> About Us</a></li>
                                <li><a href="page-aboutus-two.html" class="sub-menu-item"> About Us Two </a></li>
                                <li><a href="page-services.html" class="sub-menu-item">Services</a></li>
                                <li><a href="page-history.html" class="sub-menu-item">History </a></li>
                                <li><a href="page-team.html" class="sub-menu-item"> Team</a></li>
                                <li><a href="page-pricing.html" class="sub-menu-item">Pricing</a></li>
                            </ul> 
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Account </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="account-profile.html" class="sub-menu-item">Profile</a></li>
                                <li><a href="account-members.html" class="sub-menu-item">Members </a></li>
                                <li><a href="account-works.html" class="sub-menu-item">Works </a></li>
                                <li><a href="account-messages.html" class="sub-menu-item">Messages </a></li>
                                <li><a href="account-payments.html" class="sub-menu-item">Payments </a></li>
                                <li><a href="account-setting.html" class="sub-menu-item">Setting</a></li>
                                <li><a href="page-invoice.html" class="sub-menu-item">Invoice</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Shop</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="shop-grids.html" class="sub-menu-item">Product Grids</a></li>
                                <li><a href="shop-lists.html" class="sub-menu-item">Product List</a></li>
                                <li><a href="shop-product-detail.html" class="sub-menu-item">Product Details</a></li>
                                <li><a href="shop-cart.html" class="sub-menu-item">Shop Cart</a></li>
                                <li><a href="shop-checkouts.html" class="sub-menu-item">Checkouts</a></li>
                                <li><a href="shop-myaccount.html" class="sub-menu-item">My Account</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Help center </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="helpcenter-overview.html" class="sub-menu-item">Helpcenter</a></li>
                                <li><a href="helpcenter-faqs.html" class="sub-menu-item">Faqs</a></li>
                                <li><a href="helpcenter-guides.html" class="sub-menu-item">Guides</a></li>
                                <li><a href="helpcenter-support-request.html" class="sub-menu-item">Support Call</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Forums </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="forums.html" class="sub-menu-item">Overview </a></li>
                                <li><a href="forums-topic.html" class="sub-menu-item">Forum Topic </a></li>
                                <li><a href="forums-comments.html" class="sub-menu-item">Forum Comments </a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Email Template</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="email-confirmation.html" class="sub-menu-item">Confirmation</a></li>
                                <li><a href="email-password-reset.html" class="sub-menu-item">Reset Password</a></li>
                                <li><a href="email-alert.html" class="sub-menu-item">Alert</a></li>
                                <li><a href="email-invoice.html" class="sub-menu-item">Invoice</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)">Careers</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-jobs.html" class="sub-menu-item">Jobs</a></li>
                                <li><a href="page-jobs-sidebar.html" class="sub-menu-item">Jobs - Sidebar</a></li>
                                <li><a href="page-job-detail.html" class="sub-menu-item">Job Detail</a></li>
                                <li><a href="page-job-apply.html" class="sub-menu-item">Job Apply</a></li>
                                <li><a href="page-job-company-list.html" class="sub-menu-item">Company Listing</a></li>
                                <li><a href="page-job-company.html" class="sub-menu-item">Company Detail</a></li>
                                <li><a href="page-job-candidate-list.html" class="sub-menu-item">Candidate Listing</a></li>
                                <li><a href="page-job-candidate.html" class="sub-menu-item">Candidate Detail</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Blog </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-blog-grid.html" class="sub-menu-item">Blog Grid</a></li>
                                <li><a href="page-blog-sidebar.html" class="sub-menu-item">Blog with Sidebar</a></li>
                                <li><a href="page-blog-list.html" class="sub-menu-item">Blog Listing</a></li>
                                <li><a href="page-blog-list-sidebar.html" class="sub-menu-item">Blog List & Sidebar</a></li>
                                <li><a href="page-blog-detail.html" class="sub-menu-item">Blog Detail</a></li>
                                <li><a href="page-blog-detail-two.html" class="sub-menu-item">Blog Detail 2 </a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Case Study </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-cases.html" class="sub-menu-item">All Cases </a></li>
                                <li><a href="page-case-detail.html" class="sub-menu-item">Case Detail </a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth Pages</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="auth-login.html" class="sub-menu-item">Login</a></li>
                                <li><a href="auth-cover-login.html" class="sub-menu-item">Login Cover</a></li>
                                <li><a href="auth-login-three.html" class="sub-menu-item">Login Simple</a></li>
                                <li><a href="auth-signup.html" class="sub-menu-item">Signup</a></li>
                                <li><a href="auth-cover-signup.html" class="sub-menu-item">Signup Cover</a></li>
                                <li><a href="auth-signup-three.html" class="sub-menu-item">Signup Simple</a></li>
                                <li><a href="auth-re-password.html" class="sub-menu-item">Reset Password</a></li>
                                <li><a href="auth-cover-re-password.html" class="sub-menu-item">Reset Password Cover</a></li>
                                <li><a href="auth-re-password-three.html" class="sub-menu-item">Reset Password Simple</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Utility </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-terms.html" class="sub-menu-item">Terms of Services</a></li>
                                <li><a href="page-privacy.html" class="sub-menu-item">Privacy Policy</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Special</a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-comingsoon.html" class="sub-menu-item">Coming Soon</a></li>
                                <li><a href="page-comingsoon2.html" class="sub-menu-item">Coming Soon Two</a></li>
                                <li><a href="page-maintenance.html" class="sub-menu-item">Maintenance</a></li>
                                <li><a href="page-error.html" class="sub-menu-item">Error</a></li>
                                <li><a href="page-thankyou.html" class="sub-menu-item">Thank you</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Contact </a><span class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="page-contact-detail.html" class="sub-menu-item">Contact Detail</a></li>
                                <li><a href="page-contact-one.html" class="sub-menu-item">Contact One</a></li>
                                <li><a href="page-contact-two.html" class="sub-menu-item">Contact Two</a></li>
                                <li><a href="page-contact-three.html" class="sub-menu-item">Contact Three</a></li>
                            </ul>  
                        </li>
                    </ul> -->
                </li>

                <!-- <li class="has-submenu parent-parent-menu-item">
                    <a routerLink="/concept" class="sub-menu-item text menu-item">
                        <i class="fa fa-users" style="font-size: 19px;"></i>
                        <span class="menu-title">Equipe</span>
                    </a>
                </li> -->
                <li class="has-submenu parent-menu-item  ">
                    <a href="javascript:void(0)">
                            <img src="../../../assets/images/client/avatar-user.jpg" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="">
                    </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a routerLink="/profil" class="sub-menu-item">Profil</a></li>
                        <li><a href="changelog.html" class="sub-menu-item">Déconnexion</a></li>
                    </ul>
                </li>
            </ul><!--end navigation menu-->
            <div class="buy-menu-btn d-none">
                <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-primary">Publier</a>
            </div><!--end login button-->
        </div><!--end navigation-->
    </div><!--end container-->

  
</header>





















