@media only screen and (min-width: 769px) {
    .card-publication{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .card-publication{
        margin-top: 100px;
    }
}

@media only screen and (max-width: 516px) {
    .card-publication{
        margin-top: 130px;
    }
}

@media only screen and (max-width: 424px) {
    .card-publication{
        margin-top: 170px;
    }
}