/* section{
    background-color: #F3F2EF;
}

.comment-input{
    border-radius: 20px;
}

.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width:500px;
  left: 0;
}
.width-machine {
  padding: 0 1rem;
} */
  /* This solution was derived from: https://stackoverflow.com/questions/37629860/automatically-resizing-textarea-in-bootstrap */
  /* textarea.textarea-autosize {
    padding-top:10px;
    padding-bottom:25px;
    width:100%;
    display:block;
  } */

  .date {
    font-size: 14px
}

.comment-text {
    font-size: 15px
}

.fs-12 {
    font-size: 15px
}

.shadow-none {
    box-shadow: none
}

/* .name {
    color: #3EB1BA
} */
.cursor:hover {
  color: #3EB1BA
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}

.fa-facebook {
  color: #3b5999
}

.fa-twitter {
  color: #55acee
}

.fa-linkedin {
  color: #0077B5
}

.fa-instagram {
  color: #e4405f
}
.fa-dribbble {
  color: #ea4c89
}

.fa-pinterest {
  color: #bd081c
}

.fa {
  cursor: pointer
}

.fa-heart, .more-comment-text{
  color: #3EB1BA;
}

.more-comment-text{
  font-style: italic;
}

.rep-view-section{
  font-style: italic;
  font-size: 12px;
  color: #3EB1BA;
  text-decoration: underline;
}